/.vs
/GA.Api/obj
/GA.Api/bin
/GA.Api.LinearEquationSolver/obj
/GA.Api.LinearEquationSolver/bin
/GA.Api.PhraseEvolution/bin
/GA.Api.PhraseEvolution/obj
/GA.Api.PhraseEvolution.GUI/bin
/GA.Api.PhraseEvolution.GUI/obj
