/.vs
/GA.Api/obj
/GA.Api/bin
/GA.Api.LinearEquationSolver/obj
/GA.Api.LinearEquationSolver/bin
/GA.Api.PhraseEvolution/bin
/GA.Api.PhraseEvolution/obj
/GA.Api.PhraseEvolution.GUI/bin
/GA.Api.PhraseEvolution.GUI/obj
/GA.Api.CardsProblem/bin
/GA.Api.CardsProblem/obj
/GA.Api.8Queens/obj
/GA.Api.8Queens/bin
/GA.Api.TSP/bin
/GA.Api.TSP/obj
/GA.Api.Sudoku/bin
/GA.Api.Sudoku/obj
/GA.Api.Rastrigin/bin
/GA.Api.Rastrigin/obj
/GA.Api.Rectangles.GUI/.vs
/GA.Api.Rectangles.GUI/bin
/GA.Api.Rectangles.GUI/obj
/GA.Api.LinearEquationSolver/.vs
/GA.Api.8Queens/.vs
/GA.Api/.vs
/GA.Api.CardsProblem/.vs
/GA.Api.PhraseEvolution.GUI/.vs
